html, body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: row;
}
#dashboard {
  width: 3rem;
  padding-left: 8%;
  padding-right: 4%;
}

svg {
  width: 1.5rem;
}

#title {
  font-size: 200%;
  font-weight: 600;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 3rem;
  padding-top: 1.2rem;
}

.selection svg {
  padding: 0 10%;
}

.selection  {
  font-weight: 500;
  height: 3rem;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  font-size: 110%;
}

#sidebar  {
    background-color: lightblue;
    padding: 0 1.25rem 0 1.25rem;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .header {
    background-color: black;
    border-color: black;
  }