html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#full_page {
  display: flex; 
  height: 100vh;
  width: 100vw;
}

#dashboard {
  width: 3rem;
  padding-left: 8%;
  padding-right: 4%;
}

svg {
  width: 1.5rem;
}

#title {
  font-size: 200%;
  font-weight: 600;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 3rem;
  padding-top: 1.2rem;
}

.selection svg {
  padding: 0 10%;
}

.selection  {
  font-weight: 500;
  height: 3rem;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  font-size: 110%;
}

#sidebar  {
    background-color: lightblue;
    padding: 0 1.25rem 0 1.25rem;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main_panel {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    width: 100%; 
  }

  #header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 2px -2px gray;
    background-color: whitesmoke;
    min-height: 20vh;
    display: flex; 
  }

  #admin_panel {
    background-color: #DDDD;
    display: flex; 
    flex-grow: 1;
    overflow-y: auto;
  }

  .header_section {
    border: solid red;
    min-height: 10vh;
    display: flex;
  }

  #search_bar {
    height: 2rem;
    width: 50rem;
    border-radius: 2rem;
    background-color: #DDDD;
  }

  #search, #profile_id, #greeting, #profile_options {
    border: solid red;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
  }

  #mag, #bell {
    height: 2rem;
    width: 2rem;
    padding-right: 1rem;
  }

  #profile_photo {
    width: 15%;
    padding-right: 1rem;
  }

  #profile_id {
    width: 5rem;
  }